#logo
{
	width: 30px;
	float: left;
}

.topnav
{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px)
{
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  ul.topnav {position: relative}
}













#headerbanner
{
	width: 100%;
}

#logo
{
	width: 30px;
	float: left;
	
}

body
{
	font-family: Arial;
}

h1
{
	font-family: Arial;
	font-size: 1,5em;
}

h2
{
	font-family: Arial;
	font-size: 1,5em;
}

#maincontent
{
	width: 75%;
	background-color: #F0F;
	padding-left: 1%;
	padding-right: 1%;
	float: left;
}

#bannercatalogus
{
	float:left;
	clear:both;
	width: 100%;
}

.fotootjes
{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

#maincontent
{
	background-color: #FF8;
	float: left;
	width: 65%;
}

#secondarycontent
{
	background-color: #F0F;
	clear: both;
	float: right;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

#sportcontent
{
	background-color: gray;
	clear: both;
	float: right;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

#turnfoto
{
	width: 90px;
	clear: both;
	float: left;	
}

#contactcontent
{
	clear: both;
	float: left;
	width: 30%;
}

footer
{
	background-color: green;
	clear: both;
}