.navigatiebanner
{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}


#headerbanner
{
	width: 100%;
}

#logo
{
	width: 30px;
	float: left;
	
}

body
{
	font-family: Arial;
}

h1
{
	font-family: Arial;
	font-size: 1,5em;
}

h2
{
	font-family: Arial;
	font-size: 1,5em;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #F0F;
}

#maincontent
{
	width: 75%;
	background-color: #F0F;
	padding-left: 1%;
	padding-right: 1%;
	float: left;
}

#bannercatalogus
{
	float:left;
	clear:both;
	width: 100%;
}

.fotootjes
{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

#maincontent
{
	background-color: #FF8;
	float: left;
	width: 65%;
}

#secondarycontent
{
	background-color: #F0F;
	clear: both;
	float: right;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

#sportcontent
{
	background-color: gray;
	clear: both;
	float: right;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

#turnfoto
{
	width: 90px;
	clear: both;
	float: left;	
}

#contactcontent
{
	clear: both;
	float: left;
	width: 30%;
}

footer
{
	background-color: green;
	clear: both;
}