/* CSS voor index.html*/
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@font-face 
{
font-family: "fonts/primasans";
src: url("fonts/primasans.eot");
src: url("fonts/primasans.woff") format("woff"),
url("fonts/primasans.otf") format("opentype"),
url("fonts/primasans.svg#primasans") format("svg");
}

.topnav
{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Montserrat', arial, verdana, sans-serif;
}

body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.tekstnav
{
	font-family: 'Montserrat', arial, verdana, sans-serif;
}
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', arial, verdana, sans-serif;
}

ul.topnav li a:hover:not(.active) {background-color: #333;}

ul.topnav li a.active {background-color: #707070;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px)
{
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  ul.topnav {position: relative}
}



#logo
{
	padding-top: 0.5%;
	float: left;
	width: 2%;
}

.tekstnav,p
{
	font-family: 'Montserrat', arial, verdana, sans-serif;
	color: #000;
}

#video1
{
	width: 100%;
}

#headerbanner
{
	width: 100%;
}

#headerlogotekst
{
	font-family: 'Staatliches', arial, verdana, sans-serif;
}

#titel, #h1nl
{
	margin-left: 3%;
	color: #000000;
}

#subtitel
{
	margin-left: 3%;
	margin-bottom: 3%;
	color: #000000;
}


body
{
	font-family: 'Montserrat', arial, verdana, sans-serif;
	background-color: #ffffff;
	color: #000000;
}

h1
{
	font-family: 'Staatliches', arial, verdana, sans-serif;
	font-size: 1,5em;
	margin: 0%;
	color: #000000;
}

h2
{
	font-family: 'Staatliches', arial, verdana, sans-serif;
	font-size: 1,5em;
	margin: 0%;
	color: #000000;
}

p
{
	margin-top: 0%;
	padding-top: 1%;
	margin-bottom: 1%;
	padding-bottom: 1%;
}

#maincontent
{
	width: 75%;
	padding-left: 3%;
	padding-right: 3%;
	float: left;
}

.geschiedenis
{
	clear: both;
}

.p
{
	clear: both;
}

/* FOTO'S */
/* foto amsterdam */
@media screen and (min-width: 1280px)
{
	#fotoamsterdam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotoamsterdam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotoamsterdam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto tank */
@media screen and (min-width: 1280px)
{
	#fototank
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fototank
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fototank
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto madurodam */
@media screen and (min-width: 1280px)
{
	#fotomadurodam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotomadurodam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotomadurodam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto volendam */
@media screen and (min-width: 1280px)
{
	#fotovolendam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotovolendam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotovolendam
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto ajax */
@media screen and (min-width: 1280px)
{
	#fotoajax
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotoajax
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotoajax
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto volleybal */
@media screen and (min-width: 1280px)
{
	#fotovolleybal
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotovolleybal
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotovolleybal
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto zwemmen */
@media screen and (min-width: 1280px)
{
	#fotozwemmen
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotozwemmen
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotozwemmen
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto paardrijden */
@media screen and (min-width: 1280px)
{
	#fotopaardrijden
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 30%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotopaardrijden
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotopaardrijden
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto hockey */
@media screen and (min-width: 1280px)
{
	#fotohockey
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotohockey
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotohockey
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto turnen */
@media screen and (min-width: 1280px)
{
	#fototurnen
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fototurnen
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fototurnen
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto golf */
@media screen and (min-width: 1280px)
{
	#fotogolf
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotogolf
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotogolf
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto handboogschieten */
@media screen and (min-width: 1280px)
{
	#fotohandboogschieten
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotohandboogschieten
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotohandboogschieten
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

/* foto atletiek */
@media screen and (min-width: 1280px)
{
	#fotoatletiek
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotoatletiek
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotoatletiek
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

.tekstsport
{
	clear:both;
	float: left;
}

#bannercatalogus
{
	float:left;
	clear:both;
	width: 100%;
}

.fotootjes
{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

#secondarycontent
{
	clear: both;
	float: right;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

#sportcontent
{
	clear: both;
	float: right;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

#referalcontent
{
	clear: both;
	float: right;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

/* foto atletiek */
@media screen and (min-width: 1280px)
{
	#fotovechtsporten
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 50%
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#fotovechtsporten
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		margin: auto;
		width: 75%
	}
}
@media screen and (max-width: 480px)
{
	#fotovechtsporten
	{
		margin-top: 1,5%;
		clear: both;
		float: left;
		width: 100%;
	}
}

#contactcontent
{
	clear: both;
	float: left;
	width: 30%;
	font-family: 'Montserrat', arial, verdana, sans-serif;
	margin-left: 3%;
}

#submit, #selectie
{
	font-family: 'Montserrat', arial, verdana, sans-serif;
	color: #000000;
}

#opgeven
{
	font-family: 'Montserrat', arial, verdana, sans-serif;
	color: #000000;
	margin-left: 1%;
}

#message
{
	font-family: 'Montserrat', arial, verdana, sans-serif;
	color: #000000;
	width: 90%;
}

.invulvak
{
	font-family: 'Montserrat', arial, verdana, sans-serif;
}

footer
{
	color: #ffffff;
	background-color: #000000;
	clear: both;
}

#submit
{
	clear: both;
}

#footer
{
	color: #ffffff;
	clear: both;
	background-color: #000000;
	margin-bottom: 0%;
	padding-bottom: 1%;
	padding-top: 1%;
}

#footertekst
{
	color: #ffffff;
	background-color: #000000;
	margin-bottom: 0%;
	margin-left: 3%;
	padding-bottom: 0%;
}

@media screen and (min-width: 1280px)
{
	#cookiestekst, #cookies
	{
		text-align: center;
		position: fixed;
		clear: both;
		float: left;
		top: 95%;
		bottom: 0%;
		color: #ffffff;
		background-color: #000000;
		margin-bottom: 0%;
		margin-left: 10%;
		padding-bottom: 0%;	
		z-index: 99999;		
	}
}
@media screen and (min-width: 481px && max-width: 1179px)
{
	#cookiestekst, #cookies
	{
		text-align: center;
		position: fixed;
		clear: both;
		float: left;
		top: 95%;
		bottom: 0%;
		color: #ffffff;
		background-color: #000000;
		margin-bottom: 0%;
		margin-left: 10%;
		padding-bottom: 0%;	
		z-index: 99999;
		font-size: 1,3em;
	}
}
@media screen and (max-width: 480px)
{
	#cookiestekst, #cookies
	{
		text-align: center;
		position: fixed;
		clear: both;
		float: left;
		top: 95%;
		bottom: 0%;
		color: #ffffff;
		background-color: #000000;
		margin-bottom: 0%;
		margin-left: 10%;
		padding-bottom: 0%;	
		z-index: 99999;
		font-size: 1,5em;
	}
}